<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{title}}.blogz</title>
    </head>
<body>


    {% if session.username %}
    <div id="topinfo">
        {{session.username}}
        <form method="GET" action="/logout"><input type="submit" value="logout"></form>
    </div>
    {% endif %}
    <div id="topnav">
        {% block topnav %}
            <a href="{{ url_for('root') }}">Home</a>
            <a href="{{ url_for('show_posts') }}">blog</a>
            <a href="{{ url_for('publish') }}">new post</a>
            {% if session.username %}
                <a href="{{ url_for('logout') }}">logout {{session.username}}</a>
            {% else %}
                <a href="{{ url_for('login') }}">login</a>
                <a href="{{ url_for('new_user') }}">signup</a>
            {% endif %}
            <a href="{{ url_for('checklogin') }}">checklogin</a>
        {% endblock %}
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flashed">
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %} 


    {% block content %}
    {% endblock %}

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2018 by <a href="https://github.com/sudokarst">Eric Peterson</a>
        {% endblock %}
    </div>

</body>
</html>