<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{title}}.build-a-blog</title>
    </head>
<body>


    <div id="topnav">
        {% block topnav %}
        <a href="blog">blog</a>
        <a href="newpost">new post</a>
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2018 by <a href="https://github.com/sudokarst">Eric Peterson</a>
        {% endblock %}
    </div>

</body>
</html>